<!--The content below is only a placeholder and can be replaced.-->
<div class="mx-auto" style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <!-- <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> -->
  
  <img width="300" alt="NASA Logo" src="./assets/mars-icon.png">

  <br/>
  <div class="mt-3">
    <form action="/upload" enctype="multipart/form-data" method="post">
    <label class="image-upload-container btn btn-bwm">
      <span>Select Image</span>
      <input type="file" name="file" id="file" (change)="onFileChanged($event)" />

      <!-- <input #imageInput
              type="file"
              accept="image/*"
              (change)="processFile(imageInput)"> -->
    </label>
    <input type="button" value="Upload" (click)="onUpload()">
    </form>
    
    <br>
    <!-- <input type="text" [(ngModel)]="name">
    <p>{{name}}</p> -->
    <label for="dateCapture">Select Date Captured:</label>
    <!-- <input type="date" name="dateCapture" id="dateCapture"> -->
    <input type="text" name="dateCapture" id="dateCapture" [(ngModel)]="dateCapture">
    <input type="button" value="Display" (click)="fetchImage()">
    <br> <small *ngIf="errorMessage">{{errorMessage}}</small>
  </div>
  <div *ngIf="loading">
    <img width="300" alt="NASA Logo" src="./assets/Spinner-1s-200px.gif">
  </div>
  <div *ngIf="!loading">
    <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
  </div>
</div>

